/*
body {
	color: #114;
	background: #fff;
}

h1 {
	font-family: Helvetica, Arial, sans-serif;
}
*/

.code-cell {
	display: table;
	width: 95%;
	font-family: Monaco, Courier, monospace;
	font-size: 7pt;
	padding: 5px 10px 5px 1px;
	margin: 5px 0px 5px 0px;
	border: 1px solid #EAF1FB;
	-moz-border-radius: 3px;
	border-radius: 3px;	
}

.text-cell {
	font-family: Helvetica, Arial, sans-serif;
}

.active-cell {
	border: 2px solid #BAD0EF;
	-moz-border-radius: 3px;
	border-radius: 3px;		
}

.inactive-cell {
	border: 1px solid #EAF1FB;
	-moz-border-radius: 3px;
	border-radius: 3px;	
}

.cell-row {
	width: 100%;
	display: table-row;
	padding: 1px 1px 100px 1px;
	margin: 5px 1px 100px 1px;
}

.in-prompt, .out-prompt {
	display: table-cell;
	width: 5%;
	vertical-align: top;
	padding: 3px 0px 5px 10px;
}

.out-prompt {
	padding-top: 5px;
}
.in {
	display: table-cell;
	width: 95%;
	padding: 0px 0px 5px 10px;
}

.blank {
	display: table-cell;
	padding: 0px 0px 5px 10px;
}

.out {
	display: table-cell;
	width: 95%;
	padding: 5px 25px 5px 15px;
	margin: 0px 25px 0px 0px;
}

.in textarea {
	width: 99%;
	font-family: Monaco, Courier, monospace;
	font-size: inherit;
	border: none;
}

.button {
	width: 125px;
}


.header {
/*
    border-color: #3072b3;
    border-bottom-color: #2a65a0;
    text-decoration: none; 
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3); 
    color: #fff;
    width: 160px;
    display: block;
    font-family: Arial, Helvetica, monospace;
    font-size: 12pt;
    background-color: #3C8DDE;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599bdc), to(#3072b3));
    background-image: -moz-linear-gradient(#599bdc, #3072b3);
    background-image: -o-linear-gradient(#599bdc, #3072b3);
    background-image: linear-gradient(#599bdc, #3072b3);
 */
 	text-align: center;
 	font-family: Arial, Helvetica, sans-serif;
 	font-size: 18pt;
 	margin: 0px 0px 20px 0px;
}
/*
#workbook {
	font-size: 8pt;
}
*/

.CodeMirror {
	font-family: Monaco, Courier, monospace;
	font-size: inherit;
}

.CodeMirror-scroll {
	height: auto;
	overflow-y: hidden;
	overflow-x: auto;
	width: 100%;
}
