html {
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
}

.header {
	width: 100%;
	padding-left: 20px;
}
.colmask {
	position:relative;		/* This fixes the IE7 overflow hidden bug */
	clear:both;
	float:left;
	width:100%;				/* width of whole page */
	overflow:hidden;		/* This chops off any overhanging divs */
	height: 100%;
}

/* common column settings */
.colright,
.colmid,
.colleft {
	float:left;
	width:100%;
	position:relative;
}
.col1,
.col2,
.col3 {
	float:left;
	position:relative;
	padding: 0 0 1em 0;
	overflow:hidden;
}
/* 2 Column (left menu) settings */
.leftmenu {
	background:#fff;		/* right column background colour */
	width: 100%;
	height: 100%;
}
.leftmenu .colleft {
	right: 85%;				/* right column width */
	height: 100%;
}
.leftmenu .col1 {
	width:84%;				/* right column content width */
	left:102%;				/* 100% plus left column left padding */

	overflow: auto;
	height: 95%;
}
.leftmenu .col2 {
	width:14%;				/* left column content width (column width minus left and right padding) */
	left:25px;				/* (right column left and right padding) plus (left column left padding) */
}